@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.welcome-section {
  padding: 3rem;
}

.not-found-logo {
  width: 100px;
  height: auto;
  margin: 10px 0 20px;
}

.not-found-section {
  padding: 3rem;
}

.day-forecast {
  padding: 3rem;
}

.stats-link-button {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

/* .resulted-forecasts-section {
  background-color: #16516d;
  color: white;
} */